.App {
  --highlight-color: red;
  display: flex;
  flex-flow: column nowrap;
  width: 100%; }
  .App #titleBar {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
    height: 150px;
    width: 100%;
    z-index: 120; }
    .App #titleBar form {
      width: 400px;
      margin: 0px;
      padding: 20px; }
    .App #titleBar i {
      width: 30px; }
    .App #titleBar h5 {
      margin: 0px;
      padding: 0px; }
    .App #titleBar #uploadSection {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: end;
      width: 150px;
      padding: 20px; }
  .App #photoGrid {
    margin-top: 200px;
    display: flex;
    flex-flow: row wrap;
    padding: 0 2rem; }
    .App #photoGrid .column {
      padding: 0 2rem;
      float: left; }
    .App #photoGrid .column img {
      margin-top: 4rem;
      vertical-align: middle;
      border-radius: 10px;
      transition: 0.5s; }
    .App #photoGrid .column img:hover {
      transform: scale(108%);
      filter: drop-shadow(0 0 0.5rem orange); }
    @media screen and (max-width: 540px) {
      .App #photoGrid .column {
        flex: 100%; } }
    @media screen and (min-width: 540px) and (max-width: 1300px) {
      .App #photoGrid .column {
        flex: 50%; } }
    @media screen and (min-width: 1300px) {
      .App #photoGrid .column {
        flex: 25%; } }
  .App #editMenu {
    position: fixed;
    display: none;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 63; }
    .App #editMenu img {
      position: fixed;
      max-width: 80%;
      max-height: 80%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(100%);
      z-index: 64;
      filter: drop-shadow(0 0 10rem grey); }
  .App #photoGrid:after {
    content: "";
    display: table;
    clear: both; }
  .App #scaleBar {
    max-width: 500px;
    align-self: center; }
    .App #scaleBar form {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      min-width: 320px; }

body {
  max-width: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px; }

#root {
  margin: 0;
  text-align: center;
  display: flex;
  flex-flow: nowrap column;
  align-items: center; }
