.App {
  --highlight-color: red;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  #menuBar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
    height: 150px;
    width: 100%;
    h3 {
      font-size: 32px;
    }
    form {
      width: 400px;
      margin: 0px;
      padding: 20px;
    }
    i {
      width: 30px;
    }
    h5 {
      margin: 0px;
      padding: 0px;
    }
    #uploadSection {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: end;
      width: 150px;
      padding: 20px;
    }
    #uploadSection :hover {
      cursor: pointer
    }
  }
  .ImageUpload {
    max-width: 800px;
    max-height: 500px;
    background-color: lightgray;
    padding: 8px;
    margin: auto;
    width: 50%;
    z-index: 20;
  }
  #photoGrid {
    margin-top: 0px;
    display: flex;
    flex-flow: row wrap;
    padding: 0 2rem;
    .column {
      padding: 0 2rem;
      float: left;
    }
    .column img {
      margin-top: 4rem;
      vertical-align: middle;
      border-radius: 10px;
      transition: 0.5s;
    }
    .column img:hover {
      transform: scale(108%);
      filter: drop-shadow(0 0 0.5rem orange);
      // border: 8px solid;
      // border-radius: 10px;
      // animation: rainbow infinite 5s linear;
    }
    @media screen and (max-width: 540px) {
      .column {
        flex: 100%;
      }
    }
    @media screen and (min-width: 540px) and (max-width: 1300px) {
      .column {
        flex: 50%;
      }
    }
    @media screen and (min-width: 1300px) {
      .column {
        flex: 25%;
      }
    }
  }
  #photoGrid:after {
    content: "";
    display: table;
    clear: both;
  }
  #scaleBar {
    form {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      min-width: 320px;
    }
    max-width: 500px;
    align-self: center;
  }
}

body {
  max-width: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#root {
  margin: 0;
  text-align: center;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}