.App {
  --highlight-color: red;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  #menuBar {
    // position: fixed;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
    height: 150px;
    width: 100%;
    // z-index: 120;
    h3 {
      font-size: 32px;
    }
    form {
      width: 400px;
      margin: 0px;
      padding: 20px;
    }
    i {
      width: 30px;
    }
    h5 {
      margin: 0px;
      padding: 0px;
    }
    #uploadSection {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: end;
      width: 150px;
      padding: 20px;
    }
  }
  #photoGrid {
    margin-top: 0px;
    display: flex;
    flex-flow: row wrap;
    padding: 0 2rem;
    .column {
      padding: 0 2rem;
      float: left;
    }
    .column img {
      margin-top: 4rem;
      vertical-align: middle;
      border-radius: 10px;
      transition: 0.5s;
    }
    .column img:hover {
      transform: scale(108%);
      filter: drop-shadow(0 0 0.5rem orange);
      // border: 8px solid;
      // border-radius: 10px;
      // animation: rainbow infinite 5s linear;
    }
    @media screen and (max-width: 540px) {
      .column {
        flex: 100%;
      }
    }
    @media screen and (min-width: 540px) and (max-width: 1300px) {
      .column {
        flex: 50%;
      }
    }
    @media screen and (min-width: 1300px) {
      .column {
        flex: 25%;
      }
    }
  }
  #photoGrid:after {
    content: "";
    display: table;
    clear: both;
  }
  #scaleBar {
    form {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      min-width: 320px;
    }
    max-width: 500px;
    align-self: center;
  }
}

body {
  max-width: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#root {
  margin: 0;
  text-align: center;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}

// /* .logo {
//   height: 6em;
//   padding: 1.5em;
//   will-change: filter;
//   transition: filter 300ms;
// }
// .logo:hover {
//   filter: drop-shadow(0 0 2em #646cffaa);
// }
// .logo.react:hover {
//   filter: drop-shadow(0 0 2em #61dafbaa);
// } */

// /* @keyframes logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// @media (prefers-reduced-motion: no-preference) {
//   a:nth-of-type(2) .logo {
//     animation: logo-spin infinite 20s linear;
//   }
// } */

// // @keyframes blink {
// //   from {
// //     color: red;
// //   }
// //   to {
// //     color: white;
// //   }
// // }

// // .nukeButton {
// //   animation: blink infinite 2s linear;
// // }

// @keyframes rainbow {
//   from {
//     border-image: linear-gradient(
//       135deg,
//       #b827fc 0%,
//       #2c90fc 25%,
//       #b8fd33 50%,
//       #fec837 75%,
//       #fd1892 100%
//     );
//     border-image-slice: 1;
//   }
//   50% {
//     border-image: linear-gradient(
//       225deg,
//       #b827fc 0%,
//       #2c90fc 25%,
//       #b8fd33 50%,
//       #fec837 75%,
//       #fd1892 100%
//     );
//     border-image-slice: 1;
//   }
//   to {
//     border-image: linear-gradient(
//       135deg,
//       #b827fc 0%,
//       #2c90fc 25%,
//       #b8fd33 50%,
//       #fec837 75%,
//       #fd1892 100%
//     );
//     border-image-slice: 1;
//   }
// }
